@charset 'UTF-8';

/**
LOADING
*/

@-webkit-keyframes loader-05 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}
@keyframes loader-05 {
	0% {
		-webkit-transform: rotate(0deg);
		transform: rotate(0deg);
	}
	100% {
		-webkit-transform: rotate(360deg);
		transform: rotate(360deg);
	}
}

/* Slider */
/* Arrows */
.slick-prev,
.slick-next {
	position: absolute;
	z-index: 999;
	top: 50%;

	display: block;

	width: 0px;
	height: 0px;
	padding: 0;
	-webkit-transform: translate(0, -50%);
	-ms-transform: translate(0, -50%);
	transform: translate(0, -50%);

	cursor: pointer;

	color: #000;
	border: none;
	outline: none;
	background: transparent;
}
.slick-prev {
	left: -0.3rem;
}
.slick-next {
	right: 0.15rem;
}
.slick-prev::before {
	content: "";
	display: inline-block;
	z-index: 99999;
	border-top: 2px solid;
	border-right: 2px solid;
	width: 0.34rem;
	height: 0.34rem;
	border-color: #bfbfbf;
	transform: rotate(-135deg);
	position: absolute;
}
.slick-current > div > div {
	-webkit-filter: none !important;
	filter: none !important;
}
.slick-next::before {
	content: "";
	display: inline-block;
	z-index: 99999;
	border-top: 2px solid;
	border-right: 2px solid;
	width: 4vh;
	height: 4vh;
	border-color: #bfbfbf;
	transform: rotate(45deg);
	position: absolute;
}

/* Dots */
.slick-dotted.slick-slider {
	margin-bottom: 30px;
}

.slick-dots {
	position: absolute;
	bottom: -25px;

	display: block;

	width: 100%;
	padding: 0;
	margin: 0;

	list-style: none;

	text-align: center;
}
.slick-dots li {
	position: relative;

	display: inline-block;

	width: 20px;
	height: 20px;
	margin: 0 5px;
	padding: 0;

	cursor: pointer;
}
.slick-dots li button {
	font-size: 0;
	line-height: 0;

	display: block;

	width: 20px;
	height: 20px;
	padding: 5px;

	cursor: pointer;

	color: transparent;
	border: 0;
	outline: none;
	background: transparent;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
	outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
	opacity: 1;
}
.slick-dots li button:before {
	font-family: "slick";
	font-size: 6px;
	line-height: 20px;

	position: absolute;
	top: 0;
	left: 0;

	width: 20px;
	height: 20px;

	content: "•";
	text-align: center;

	opacity: 0.25;
	color: black;

	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
	opacity: 0.75;
	color: black;
}
